@font-face {
  font-family: 'Museo300Regular';
  src: url('../fonts/museo300Regular.woff2') format('woff2'),
  url('../fonts/museo300Regular.woff') format('woff'),
  url('../fonts/museo300Regular.svg') format('svg');
}

@font-face {
  font-family: 'Museo700Regular';
  src: url('../fonts/museo700Regular.woff2') format('woff2'),
  url('../fonts/museo700Regular.woff') format('woff'),
  url('../fonts/museo700Regular.svg') format('svg');
}

@font-face {
  font-family: 'Museo700Italic';
  src: url('../fonts/museo700Italic.woff2') format('woff2'),
  url('../fonts/museo700Italic.woff') format('woff'),
  url('../fonts/museo700Italic.svg') format('svg');
}

