//fonts
$Museo300Regular: "Museo300Regular", sans-serif;
$Museo700Regular: "Museo700Regular", sans-serif;
$Museo700Italic: "Museo700Italic", sans-serif;


// font-awesome

$fa-font-path:"../fonts";

// color

$orange : #ffae00;
$yellow : #f8de01;
$grey : #222222;
$lime : #9cf801;
$blue : #dde6e8;

// hamburgers
$hamburger-layer-color : $lime;