// modules

@import "functions";
@import "reset";
@import "fonts";
@import "variables";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/bootstrap-4-grid/scss/grid";
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "../../node_modules/swiper/src/swiper";









html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
  font-family: $Museo300Regular;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 65px;
  font-family: $Museo700Italic;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 25px;
}

h2,h3 {
  font-family: $Museo700Regular;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: #ffffff;
}

a {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
  font-family: $Museo300Regular;
  &:hover {
    color: $lime;
  }
}

%main-btn {
  background: transparent;
  padding: 15px 30px;
  border: 1px solid $lime;
  color: $lime;
  font-family: $Museo700Regular;
  font-size: 20px;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform: skew(-30deg);
  span {
    display: block;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
  }
  &:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}




@media (max-width: 480px) {
  %main-btn {
    width: 100%;
  }
}


















// sections

@import "sections/head-section";