// modules & sections

@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";
@import "variables";

@import "sections/header";
@import "sections/head-section";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
}
