.head-section {
  display: flex;
  flex-direction: column;
  position: relative;
  background: $grey;
  min-height: 100vh;
}

.header {
  display: inline-flex;
  position: relative;
  align-items: center;
  min-height: 100px;
  background: transparent;
  border-bottom: 1px dashed $yellow;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    border: 135px solid transparent;
    border-left: 135px solid $orange;
    border-top: 135px solid $orange;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -100px;
    right: -30px;
    border: 200px solid transparent;
    border-right: 200px solid $yellow;
  }
  .container {
    z-index: 2;
  }
  .row {
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 40px;
  }
}

.header-drop-menu-block {
  position: relative;
  z-index: 3;
}

.header-drop-menu-container {
  height: 100%;
}

.head-nav-list {
  display: inline-flex;
  z-index: 3;
  li {
    position: relative;
    z-index: 2;
    padding: 0 15px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: $orange;
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}

.hamburger {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0 15px;
  padding: 0;
  &:hover {
    background: none;
  }
  &.active {
    @extend .is-active;
    .hamburger-inner {
      &::before,
      &::after {
        background-color: $lime;
      }
    }
  }
  .hamburger-inner {
    background-color: $lime;
    &::before,
    &::after {
      background-color: $lime;
    }
  }
}

.head-content-block {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  &:before {
    content: '';
    position: absolute;
    display: block;
    left: 25px;
    top: 25px;
    border: 25px solid transparent;
    border-left: 25px solid $yellow;
    border-top: 25px solid $yellow;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    right: -120px;
    border: 450px solid transparent;
    border-right: 450px solid $orange;
  }
  .row {
    padding: 0 15px;
  }
}

.head-content-slider {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 40px 0 100px;
  .row {
    align-items: center;
  }
  .swiper-container {
    min-width: 100%;
    max-width: 100%;
  }
  .swiper-pagination {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50%;
    margin-left: -40px;
  }
  .swiper-pagination-bullet {
    display: inline-flex;
    width: 12px;
    height: 10px;
    background: $orange;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
  }
  .swiper-pagination-bullet-active {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 3px 0px $lime;
    -moz-box-shadow: 0px 0px 3px 0px $lime;
    box-shadow: 0px 0px 3px 0px $lime;
  }
}

.head-content-slider-tittle,
.head-content-slider-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.head-content-slider-tittle {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col(5);
  }
  button {
    @extend %main-btn;
    margin-left: 10px;
  }
  p {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.head-content-slider-img {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col(7);
  }
  display: inline-flex;
  justify-content: center;
}















@media (max-width: 1320px) {
  .header {
    .row {
      flex-direction: column;
      justify-content: center;
      padding: 0;
      a {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    min-height: 55px;
    .row {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 35px;
      img {
        max-width: 200px;
      }
      a {
        margin-bottom: 0;
      }
    }
    &:before {
      border: 70px solid transparent;
      border-left: 70px solid $orange;
      border-top: 70px solid $orange;
    }
    &:after {
      top: -65px;
      right: -30px;
      border: 120px solid transparent;
      border-right: 120px solid $yellow;
    }
  }
  .header-drop-menu-block {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(black, .5);
    &.active {
      .header-drop-menu-container {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
  .header-drop-menu-container {
    display: flex;
    width: 170px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: $orange;
  }
  .hamburger {
    position: relative;
  }
  .head-nav-list {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    li {
      margin-bottom: 20px;
      &::before {
        display: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: $black;
    }
    &.active {
      display: flex;
    }
    &.hidden {
      display: none;
    }
  }
  .hamburger {
    display: inline-flex;
    .hamburger-box {
      width: 30px;
      height: 20px;
      .hamburger-inner {
        width: 30px;
        height: 3px;
        &::before,
        &::after {
          width: 30px;
          height: 3px;
        }
      }
    }
  }
  .head-content-block {
    &:before {
      left: 10px;
      top: 15px;
      border: 15px solid transparent;
      border-left: 15px solid $yellow;
      border-top: 15px solid $yellow;
    }
    &:after {
      top: -50px;
      right: -120px;
      border: 350px solid transparent;
      border-right: 350px solid $orange;
    }
  }
  .head-content-slider-tittle {
    h1 {
      font-size: 40px;
    }
  }
  .head-content-slider-img {
    height: 250px;
    img {
      height: 100%;
    }
  }
}


@media (max-width: 767px) {
  .header {
    .row {
      padding: 0 55px;
      img {
        max-width: 80px;
      }
    }
  }
  .head-content-slider-img {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .header {
    .row {
      padding: 0 60px;
    }
  }
  .head-content-slider-tittle {
    padding: 0 20px;
    button {
      margin-left: 0;
    }
  }
}